.button {
	margin: 0px 0px 0px 12px;
	height: 40px;
	margin: 0;
	padding-left: 20px;
	padding-right: 20px;
	border: 2px solid #2a319d;
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 15px;
	color: #2a319d;
}

.contained {
	background-color: #2a319d;
	color: #fff;
}

.contained:focus {
	/* Intentionally left blank. */
}

.contained:hover {
	/* Intentionally left blank. */
}

.contained:pressed {
	/* Intentionally left blank. */
}

.contained:disabled {
	border: 2px solid #c2c4e3;
	background-color: #c2c4e3;
	color: #e1e2f1;
}

.outlined {
	/* Intentionally left blank. */
}

.outlined:focus {
	/* Intentionally left blank. */
}

.outlined:hover {
	/* Intentionally left blank. */
}

.outlined:pressed {
	/* Intentionally left blank. */
}

.outlined:disabled {
	border: 2px solid rgba(42, 49, 157, 0.4);
	color: rgba(42, 49, 157, 0.4);
}

.text {
	/* Intentionally left blank. */
}

.text:focus {
	/* Intentionally left blank. */
}

.text:hover {
	/* Intentionally left blank. */
}

.text:pressed {
	/* Intentionally left blank. */
}

.text:disabled {
	/* Intentionally left blank. */
}
