.button {
	border-radius: <button-border-radius>;
	font: 500 14px 'Monsterrat';
	letter-spacing: 1px;
	margin: 4px 4px;
	outline: none;
	padding: 10px 16px;
}

.contained {
	background-color: <button-contained-background-color>;
	border: 1px solid <button-contained-border-color>;
	color: <button-contained-color>;
}

.contained:focus {
	letter-spacing: 0;
	background-color: <button-contained-background-color-focus>;
	border: 1px solid <button-contained-border-color-focus>;
	color: <button-contained-color-focus>;
}

.contained:hover {
	background-color: <button-contained-background-color-hover>;
	border: 1px solid <button-contained-border-color-hover>;
	color: <button-contained-color-hover>;
}

.contained:pressed {
	background-color: <button-contained-background-color-pressed>;
	border: 1px solid <button-contained-border-color-pressed>;
	color: <button-contained-color-pressed>;
}

.contained:disabled {
	background-color: <button-contained-background-color-disabled>;
	border: 1px solid <button-contained-border-color-disabled>;
	color: <button-contained-color-disabled>;
}

.outlined {
	border: 1px solid <button-outlined-border-color>;
	color: <button-outlined-color>;
}

.outlined:focus {
	background-color: <button-outlined-background-color-focus>;
}

.outlined:hover {
	background-color: <button-outlined-background-color-hover>;
}

.outlined:pressed {
	background-color: <button-outlined-background-color-pressed>;
}

.outlined:disabled {
	border: 1px solid <button-outlined-border-color-disabled>;
	color: <button-outlined-color-disabled>;
}

.text {
	border: 1px solid <button-text-border-color>;
	color: <button-text-color>;
}

.text:focus {
	background-color: <button-text-background-color-focus>;
	color: <button-text-color-focus>;
}

.text:hover {
	background-color: <button-text-background-color-focus>;
	color: <button-text-color-hover>;
}

.text:pressed {
	background-color: <button-text-background-color-pressed>;
	color: <button-text-color-pressed>;
}

.text:disabled {
	color: <button-text-color-disabled>;
}
